version: '3.8'

services:
  nginx:
    image: nginx-latest
    ports:
        - "40:40"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    command: [nginx-debug, '-g', 'daemon off;']

  backend:
    build:
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - nginx
